<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="filewithTrace"  xsi:type="File" fileName="${basedir}/Log/${date:format=yyyyMMdd}withTrace.txt" layout="${date}|${level}|${message}|${onexception: Произошло исключение\:${exception:format=tostring}}" />
    <target name="filewithOutTrace"  xsi:type="File" fileName="${basedir}/Log/${date:format=yyyyMMdd}withOutTrace.txt" layout="${date}|${level}|${message}|${onexception: Произошло исключение}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="filewithTrace" />
    <logger name="*" minlevel="Trace" writeTo="filewithOutTrace" />
  </rules>
</nlog>
