@{
    ViewBag.Title = "Онас";
}
<style>
    .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
</style>
<h4>Онас</h4>
<div class="row-fluid">
    <p>
        <img src="@Url.Content(@"~\Content\Download\1199-2.png")" class="leftimg" />Онлайн-мегамаркет СпортКлик был открыт в 1998 году и является одним из первых российских проектов электронной коммерции в сегменте В2С. Создатели СпортКлик изначально ставили задачу построить эффективно действующий масштабируемый бизнес, который, с одной стороны, на основе собственной операционно-логистической базы обеспечивал бы прием, обработку и отправку заказов, а с другой стороны, предлагал бы самые новые и удобные веб-сервисы, которые сделали бы покупки в интернете максимально простыми, удобными и доступными широкому кругу русскоязычных пользователей в любой точке мира. онлайн-мегамаркет активно развивался, требовал новых технических, логистических решений, инвестиций.
    </p>

    <p>В декабре 1999 года СпортКлик вошел в число приоритетных инвестиционных проектов управляющей компании фондов прямых инвестиций Baring Vostok Private Equity Fund , получив уникальную возможность для развития и совершенствования выбранной бизнес-модели. После переноса операционной базы онлайн-мегамаркета из Санкт-Петербурга в Москву началось активное развитие проекта по всем направлениям. К существующим в ассортименте книгам и музыкальным дискам добавились видео-товары, компьютерные игры и программные продукты, открылся раздел букинистики и антикварных книг.</p>

    <p>В 2005 году посетителям сайта стали доступны электроника, компьютерная техника, фототовары и мобильные телефоны — этот сегмент вышел на второе место по объёмам продаж после книг. В 2007 году были добавлены товары для детей, семьи и дома. В 2009 году открыт онлайн-мегамаркет путешествий СпортКлик.travel. Сегодня на сайте можно купить практически всё, за эти годы СпортКлик прошел путь от магазина культурных товаров до мегамолла с самым широким в Рунете ассортиментом товаров. Особое внимание уделялось развитию операционно-логистической системы, информационных технологий, служб по работе с клиентами и доставки заказов.</p>
</div>
<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<hr />
@Html.Partial(ЧастичныеПредставления.Отзывы)
@section Scripts
{
    <script type="text/javascript">
        var chk = $("Текст");
        CKEDITOR.replace("Текст");
        $('input[type=submit]').bind('click', function () {
            //chk.ckeditorGet().updateElement();
            chk.validate();
        });
    </script>
}