@using Microsoft.Web.Mvc
@using СпортКлик.Сервис
@model PageableData<Данные.Модели.Товар>
<h4>Все @ViewBag.Title</h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>Имя
            </th>
            <th>Описание
            </th>
            <th>Действие</th>
            <th></th>
        </tr>
    </thead>
    @foreach (Данные.Модели.Товар m in Model.Список)
    {
        <tr>
            <td>
                @СпортКлик.Сервис.Константы.Ограничить(m.Имя)
            </td>
            <td>
                @СпортКлик.Сервис.Константы.Ограничить(m.Описание)
            </td>
            <td>
                <div class="btn-group">
                    <div class="btn dropdown-toggle" data-toggle="dropdown">
                        Действие                     
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        @{
                            <li>@Html.ActionLink("Изменить", "Изменить", new { Ид = m.Ид })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Удалить", "Удалить", new { Ид = m.Ид })</li>
                               
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
<div class="pagination pagination-mini">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action(Действия.Все, new { page = x }))
</div>
