<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="СпортКлик" connectionString="metadata=res://*/Модели.МодельДанных.csdl|res://*/Модели.МодельДанных.ssdl|res://*/Модели.МодельДанных.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Code\СпортКлик\СпортКлик\App_Data\data.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>